body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
/* Navbar Start */
.menu{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.2em;
    color: #323031;
}
.nav-link{
    font-size: 14px;
    color: #323031;
}
.nav-item{
    margin-right: 50px;
}
.nav-item:last-child{
    margin-right: 0;
}
.search {
    margin-right: 50px;
}
/* Navbar End */

/* Category Start */
.card-item{
    background: #FFFFFF;
    opacity: 0.8;
    width: 350px;
    height: 126px;
    padding: 26px 0 26px 26px;
    bottom: 0;
    left: 0;

}
.gender{
    font-weight: 700;
    font-size: 28px;
    color: #323031;

}
.text{
    font-size: 14px;
    color: #323031;
    border-bottom: 1px solid #323031;
    padding-bottom: 8px;
}
/* Category End */
.best-sellers-container{
    margin-top: 100px;
    margin-bottom: 80px;
}
.best-sellers{
    font-weight: 700;
    font-size: 48px;
    color: #323031;
}
.icon img{
    margin-right: 10px;
}
.icon img:last-child{
    margin-right: 0;
}
/* Best seller start */

.image{
    padding: 30px 40px 60px 40px;
    background: #F5F5F5;
}
.price{
    bottom: 10px;
    left: 18px;
    font-weight: 700;
    font-size: 28px;
    color: #323031;
}
.color{
    margin-top: 15px;
    padding-left: 18px;
    margin-bottom: 15px;
}
.box{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.disc{
    padding-left: 18px;
    border-left: 2px solid #E6000A;;
}
.name{
    font-weight: 700;
    font-size: 14px;
    color: #323031;
    margin-bottom: 5px;
}
.model{
    font-size: 14px;
    color: #323031;
}
.add-to-cart {
    font-weight: 700;
    font-size: 14px;
    color: #323031;
    padding:10px 26px;
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 25px;
}
.gloves1{
    border: 1px solid #030303;

}
.gloves2{
    background-color: #E6000A;

}
.gloves3{
    background-color: #FFB939;

}
.helmet1{
    background-color: #323031;
}
.helmet2{
    border: 1px solid #000;
}
.helmet3{
    background-color: #FFB939;
}
.helmet4{
    background-color: #E6000A;
}
.helmet5{
    background-color: #2C529F;
}
.boots1{
    background-color: #E6000A;
}
.boots2{
    border: 1px solid #000;
}
.protector{
    background-color: #323031;;
}
/* Best seller end */

/* Carousel start */
.bg-image{
    background-image: url(/images/carousel-3/carousel-3.png);
    background-repeat:no-repeat;
    background-position: 85%;
    background-size: inherit;
    background-color: #323031;
    height: 300px;
    padding-top: 35px;
    padding-left: 50px;
    margin-top: 100px;
}
.first-line{
    font-size: 18px;
    color: #fff;
    margin-top: 30px;
}
.second-line{
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}
.price-white{
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin-top: 15px;
}
.old-price{
    font-size: 18px;
    color:#484848;
    text-decoration: line-through;
}
.button-area{
    margin-top: 20px;
}
.add-to-card-white{
    background: none;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    margin-right: 10px;
}
.buy-now{
    background-color: #E6000A;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    padding: 9px 32px;
    border: none;
}
/* Carousel-3 end */
/* Maps Start */
.best{
    margin-top: 100px;
}
.maps{ 
    margin-top: 100px;
}
.contact-us{
    padding-left: 15px;
    top: 0;
    left: 0;
    width: 350px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.question{
    font-weight: 700;
    font-size: 24px;
    color: #323031;
    margin-bottom: 10px;
}
input{
    border: 0;
    outline:none;
    border-bottom: 1px solid#000;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
textarea{
    margin-top: 10px;
    width: 190px;
    height: 100px;
    outline: none;
}
.send{
    background: none;
    border: 1px solid #323031;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    padding: 8px 20px;
}
::placeholder{
    text-align: center;
}
/* map and */
/* footer start */
.footeer{
    margin-top: 100px;
}
.footer-text{
    font-size: 14px;
    color: #323031;
    padding: 0  20px;
    border-left: 1px solid #323031;
}
.footer-area{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 18px 0;
}
.footer-text:first-child{
    border-left: none;
}
p{
    font-size: 12px;
    color: rgba(50, 48, 49, 0.5);
    padding: 15px 0;
}
@media(max-width:400px){
    .card-item{
        width: 290px;
    }
    .image{
        padding: 0;
    }
}
/* footer end */
/* category start */
h4{
    font-weight: 700;
    font-size: 18px;
    color: #323031;
    margin-top: 40px;
    margin-bottom: 8px;
}

input{
    margin-right: 12px;
}
label{
    font-size: 14px;
    color: #323031;
    margin: 0;
    padding: 0;
}
.col-sm-4{
    margin-top: 25px;
}
.main-category{
    font-size: 12px;
}
.filter{
    margin-bottom: 15px;
}
.text-filter{
    font-size: 14px;
}